# Terraform outputs
.terraform/
_feature_*.tf
aws.yaml
config-map-aws-auth_streaming-*.yaml
kubeconfig_streaming-*
helm/

# Developer specified ignores
sandbox_dev.tfvars
sandbox_prod.tfvars
sandbox_staging.tfvars
plan.txt
plan.bin
plans/
**/*.zip
**/*.plan
**/*.out
**/terraform.*

# Filesystem and editor ignores
*.swp
.DS_Store
